<!DOCTYPE html>
<html lang="et">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Expenses</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<style>
    body { margin-top: 1em; margin-bottom: 1em; }
    .pages { display: none; }
    .nav { margin-bottom: 1em; }
    .messages { position: absolute; top: 2em; left: 2em; z-index: 10000; opacity: 0.95; }
    .text-right { text-align: right; }
</style>
</head>
<body>
    <div class="container">
        <ul class="nav nav-pills">
            <li><a href="#entries">Entries</a></li>
            <li><a href="#accounts">Accounts</a></li>
            <li><a href="#cash">Cash flows</a></li>
            <li><a href="#help">Help</a></li>
        </ul>
        <form data-bind="submit: update" class="form-horizontal" role="form" id="period">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="year">Year</label>
                <div class="col-sm-2">
                    <select data-bind="options: years, value: year"
                        required="true" class="form-control" id="year"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="start-month">Start month</label>
                <div class="col-sm-2">
                    <select data-bind="options: months, value: start_month"
                        required="true" class="form-control" id="start-month"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="end-month">End month</label>
                <div class="col-sm-2">
                    <select data-bind="options: months, value: end_month"
                        required="true" class="form-control" id="end-month"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-refresh"></span> Update
                    </button>
                </div>
            </div>
        <form>
        <div id="messages" class="messages"></div>
        <div id="content"></div>
    </div>
    <script src="js/external/knockout.js"></script>
    <script src="js/external/router.js"></script>
    <script src="js/external/q.js"></script>
    <script src="js/bundle.js"></script>
</body>
</html>
