<!DOCTYPE html>
<html lang="et">
{{ include head }}
<body>
    <div class="container">
        <div class="spinner" style="display: none" id="spinner">
            <img src="/img/ajax-loader.gif" width="220" height="19">
        </div>
        <ul class="nav nav-pills hidden-print">
            <li><a href="#entries">Entries</a></li>
            <li><a href="#expanded">Expanded</a></li>
            <li><a href="#accounts">Accounts</a></li>
            <li><a href="#cash">Cash flows</a></li>
            <li><a href="#help">Help</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <form data-bind="submit: update" class="form-horizontal hidden-print" role="form" id="period">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="year">Year</label>
                <div class="col-sm-2">
                    <select data-bind="options: years, value: year"
                        required="true" class="form-control" id="year"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="start-month">Start month</label>
                <div class="col-sm-2">
                    <select data-bind="options: months, value: start_month"
                        required="true" class="form-control" id="start-month"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="end-month">End month</label>
                <div class="col-sm-2">
                    <select data-bind="options: months, value: end_month"
                        required="true" class="form-control" id="end-month"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-refresh"></span> Update
                    </button>
                </div>
            </div>
        </form>
        <div id="messages" class="messages"></div>
        <div id="content"></div>
    </div>
    <script src="js/external/es6-promise.js"></script>
    <script>ES6Promise.polyfill();</script>
    <script src="js/external/fetch.js"></script>
    <script src="js/external/knockout.js"></script>
    <script src="js/external/kontainer-standalone.js"></script>
    <script src="js/external/router-standalone.js"></script>
    <script src="js/bundle.js"></script>
</body>
</html>
