<h2 data-bind="text: title"></h2>
<h3>Items</h3>
<table class="table">
    <tr>
        <th>Date</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Original amount</th>
        <th>Currency</th>
        <th>EUR amount</th>
    </tr>
    <tbody data-bind="foreach: items">
        <tr>
            <td data-bind="text: formatDate(date)"></td>
            <td>
                <a data-bind="text: debit.code + ' (' + debit.name + ')',
                    attr: { href: '#account/' + debit.$id + '/items' }" href="#"></a>
            </td>
            <td>
                <a data-bind="text: credit.code + ' (' + credit.name + ')',
                    attr: { href: '#account/' + credit.$id + '/items' }" href="#"></a>
            </td>
            <td data-bind="text: formatAmount(amount)"></td>
            <td data-bind="text: currency.toUpperCase()"></td>
            <td data-bind="text: formatAmount(eur_amount)"></td>
        </tr>
    </tbody>
</table>
<a data-bind="attr: { href: '#entry/edit/' + $id }"
    class="btn btn-default" href="#" role="button">
    <span class="glyphicon glyphicon-edit"></span> Edit
</a>
<a data-bind="click: copy" class="btn btn-default" href="#" role="button">
    <span class="glyphicon glyphicon-share"></span> Copy
</a>
<a class="btn btn-default" href="#entries" role="button">
    <span class="glyphicon glyphicon-arrow-left"></span> Back
</a>
